{% extends "portfolio/base.html" %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'portfolio/about.css' %}"
/>
<section class="about">
  <div class="about-container">
    <!-- Left: Image -->
    <div class="about-image">
      <img
        src="{% static 'portfolio/images/nneka-image.jpg' %}"
        alt="About Me"
      />
    </div>

    <!-- Right: Text -->
    <div class="about-text">
      <h2>About Vbay Solutions</h2>
      <p>
        Your strategic growth partner specializing in the power of communication
        to drive meaningful change in areas such as transparent governance,
        brand visibility, humanitarian outreach, civic participation, gender
        equity, creative industry advancement, and social reform.<br /><br />
        <b>Mission: </b>Turning complex data into compelling narratives that
        drive engagement, visibility, and funding.<br />
        Supporting nonprofits in service delivery and mentoring youth on personal
        growth and ethical digital practices.
      </p>
      <a href="{% url 'services' %}">Services</a>
    </div>
  </div>
</section>

{% endblock %}
