{% extends "portfolio/base.html" %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'portfolio/projects.css' %}"
/>
<section class="projects">
  <div class="heading">
    <h2>Projects</h2>
  </div>
  <div class="content">
    <ul>
      <li>
        <a
          href="https://research.gold.ac.uk/id/eprint/29276/1/SPILLANE,%20Jeremiah%20-%20CultureDevelopmentCaseStudies%20"
          target="_blank"
          ><img
            src="{% static 'portfolio/images/commonwealth.png' %}"
            alt=""
            class="project-image"
        /></a>
      </li>
      <li>
        <a
          href="https://independent.ng/api-survey-patriotism-amidst-hardship/"
          target="_blank"
          ><img
            src="{% static 'portfolio/images/unesco.png' %}"
            alt=""
            class="project-image"
        /></a>
      </li>
      <li>
        <a
          href="https://thenationonlineng.net/expert-advocates-functional-feedback-mechanism/"
          target="_blank"
          ><img
            src="{% static 'portfolio/images/USAID.png' %}"
            alt=""
            class="project-image"
        /></a>
      </li>
      <li>
        <a
          href="https://authorityngr.com/2024/10/28/usaid-nigeria-state2state-enlightens-information-and-public-relations-officers-on-effective-reportage/"
          target="_blank"
          ><img
            src="{% static 'portfolio/images/USAID.png' %}"
            alt=""
            class="project-image"
        /></a>
      </li>
      <li>
        <a href="http://www.facebook.com/letshelpproject" target="_blank"
          ><img
            src="{% static 'portfolio/images/Intersos.png' %}"
            alt=""
            class="project-image"
        /></a>
      </li>
      <li>
        <a href="" target="_blank"
          ><img
            src="{% static 'portfolio/images/dewdrop.jpg' %}"
            alt=""
            class="project-image"
        /></a>
      </li>
      <li>
        <a href="" target="_blank"
          ><img
            src="{% static 'portfolio/images/lets-help.jpg' %}"
            alt=""
            class="project-image"
        /></a>
      </li>
      <li>
        <a href="" target="_blank"
          ><img
            src="{% static 'portfolio/images/plac.png' %}"
            alt=""
            class="project-image"
        /></a>
      </li>
      <li>
        <a href="" target="_blank"
          ><img
            src="{% static 'portfolio/images/API.png' %}"
            alt=""
            class="project-image"
        /></a>
      </li>
      <li>
        <a href="" target="_blank"
          ><img
            src="{% static 'portfolio/images/UNWomen.png' %}"
            alt=""
            class="project-image"
        /></a>
      </li>
      <li>
        <a href="" target="_blank"
          ><img
            src="{% static 'portfolio/images/ministry-of-arts.jpg' %}"
            alt=""
            class="project-image"
        /></a>
      </li>
      <li>
        <a href="" target="_blank"
          ><img
            src="{% static 'portfolio/images/nigerian-press-council.jpg' %}"
            alt=""
            class="project-image"
        /></a>
      </li>
      <li>
        <a href="" target="_blank"
          ><img
            src="{% static 'portfolio/images/ken-nnamani-leadership-foundation.jpg' %}"
            alt=""
            class="project-image"
        /></a>
      </li>
      <li>
        <a href="" target="_blank"
          ><img
            src="{% static 'portfolio/images/folke-bernadotte-academy.png' %}"
            alt=""
            class="project-image"
        /></a>
      </li>
      <li>
        <a href="" target="_blank"
          ><img
            src="{% static 'portfolio/images/education-as-a-vaccine.jpg' %}"
            alt=""
            class="project-image"
        /></a>
      </li>
    </ul>
  </div>
</section>
{% endblock %} 
