{% extends "portfolio/base.html" %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'portfolio/projects.css' %}"
/>
<section class="projects">
  <h2>Some Of My Projects</h2>
  <div class="content">
    <ul>
      <li>
        <strong
          >- Commonwealth Foundation's Culture and Development
          Publication-</strong
        >Women: The Salt of the Nation, by Nneka Egbuna, 2009.<br />
        <a
          href="https://research.gold.ac.uk/id/eprint/29276/1/SPILLANE,%20Jeremiah%20-
        %20CultureDevelopmentCaseStudies%20(1).pdf"
          >https://research.gold.ac.uk/id/eprint/29276/1/SPILLANE,%20Jeremiah%20-
          %20CultureDevelopmentCaseStudies.</a
        >
      </li>
      <br /><br />
      <li>
        <strong>- API Survey:</strong> Patriotism Amidst Hardship.<br />
        <a href="https://independent.ng/api-survey- patriotism-amidst-hardship/"
          >https://independent.ng/api-survey- patriotism-amidst-hardship/# by
          Nneka Acholonu Egbuna, September 2025</a
        >
      </li>
      <br /><br />
      <li>
        <strong>- The Nation:</strong> Expert advocates functional feedback
        mechanism.<br />
        <a
          href="https://thenationonlineng.net/expert-advocates-functional-feedback-
        mechanism/#google_vignette"
          >https://thenationonlineng.net/expert-advocates-functional-feedback-
          mechanism/#google_vignette, 2023</a
        >
      </li>
      <br /><br />
      <li>
        <strong>- The Authority:</strong> USAID Nigeria state2state enlightens
        information and public relations officers on effective reportage.<br />
        <a
          href="https://authorityngr.com/2024/10/28/usaid-nigeria-state2state-enlightens-
        information-and-public-relations-officers-on-effective-reportage/"
          >https://authorityngr.com/2024/10/28/usaid-nigeria-state2state-enlightens-
          information-and-public-relations-officers-on-effective-reportage/
          2024</a
        >
      </li>
      <br /><br />
      <li>
        <strong>- Menstrual and personal hygiene management:</strong> For
        adolescents<br />
        <a href="http://www.facebook.com/letshelpproject"
          >http://www.facebook.com/letshelpproject</a
        >
      </li>
    </ul>
  </div>
</section>
{% endblock %}
