{% extends "portfolio/base.html" %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'portfolio/services.css' %}"
/>
<section class="services">
  <h2>My Services</h2>
  <div class="top-content">
    <ul>
      <li><strong class="text-header">- Strategic Communication Consulting</strong></li>
      <li><strong class="text-header">- Nonprofit (NGO) Support</strong></li>
      <li><strong class="text-header">- Digital Storytelling & Visibility</strong></li>
      <li><strong class="text-header">- Youth Mentorship & AI/Cyberspace Ethics</strong></li>
      <li><strong class="text-header">- Workshops & Training</strong></li>
      <li><strong class="text-header">- Speaking Engagements</strong></li>
    </ul>
  </div>
  <div class="content">
    <h4>Descriptions</h4>
    <span>
      <strong class="text-header">Strategic Communication Consulting:</strong>
      Organizations, leaders, and changemakers seeking clarity, consistency, and
      influence in their communications, can elevate their messaging with
      tailored strategies that align their voice, values, and vision across
      platforms and stakeholders.<br />
      <strong class="text-header">Benefits:</strong><br />
      Strengthened brand identity, improved stakeholder engagement, and driving
      measurable impact through strategic storytelling and positioning.<br />
      <a href="#">Book a Consultation</a><br /><br />
      <strong class="text-header">Nonprofit (NGO) Support:</strong> Empowering
      mission-driven organizations with tools, strategies, and systems to
      amplify their work and deepen community engagement. This is for Local and
      international NGOs, grassroots initiatives, and social enterprises
      navigating growth, visibility, or operational challenges.<br />
      <strong class="text-header">Benefits:</strong> Enhanced program delivery,
      improved donor engagement, and sustainable organizational development.<br />
      <a href="#"> Book a Consultation</a><br /><br />
      <strong class="text-header">Digital Storytelling & Visibility:</strong>
      Are you into advocacy campaigns, are you creatives, or organizations ready
      to build authentic online presence and drive engagement? Transform your
      narrative into compelling digital content that resonates, inspires, and
      mobilizes your audience.<br />
      <strong class="text-header">Benefits:</strong> Stronger brand recognition,
      increased reach, and deeper emotional connection with your community.<br />
      <a href="#">Book a Consultation</a><br /><br />
      <strong class="text-header"
        >Youth Mentorship & AI/Cyberspace Ethics:</strong
      >
      Guiding young minds to navigate digital spaces responsibly, while
      fostering leadership, ethics, and critical thinking in the age of AI. For
      schools, youth organizations, and parents committed to preparing the next
      generation for ethical tech engagement.<br />
      <strong class="text-header">Benefits:</strong> Empowered youth with
      digital literacy, ethical awareness, and confidence to lead in tech-driven
      environments.<br />
      <a href="#">Book a Consultation</a><br /><br />
      <strong class="text-header">Workshops & Training:</strong> Interactive,
      transformative sessions designed to build capacity, spark innovation, and
      equip teams with practical tools. Designed for corporations, government
      agencies, nonprofits, educators, and community leaders seeking hands-on
      learning experiences.<br />
      <strong class="text-header">Benefits:</strong>Improved team performance,
      actionable skills, and renewed motivation to implement change.<br />
      <a href="#">Book a Consultation</a><br /><br />
      <strong class="text-header">Speaking Engagements:</strong>Dynamic,
      thought-provoking talks that inspire, motivate, educate, and challenge
      audiences to think differently and act boldly. The speaking engagements
      are suitable for conferences, panels, schools, and organizations looking
      for impactful voices on leadership, ethics, communication, or tech.<br />
      <strong class="text-header">Benefits:</strong> Audience engagement, fresh
      perspectives, and memorable moments that spark dialogue and
      transformation.<br />
      <a href="#">Book a Consultation</a>
    </span>
  </div>
</section>
{% endblock %}
