{% extends "portfolio/base.html" %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'portfolio/testimonial.css' %}"
/>
<section class="testimonials">
  <h2>Testimonials</h2>
  <div class="content">
    <ul>
      <li>
        <i
          >“Our gorgeous communication specialist, the lessons learnt from you
          will forever be green in our memories as we discharge our duties as
          information and public relations officers. Your training has also
          helped me in my promotions. Thank you isn’t enough.”</i
        >
        <p class="testimonial-paragraph">
          – Information and Public Relations Officer in Alwa Ibom state
          (female).
        </p>
      </li>
      <li>
        <i
          >“You made me more knowledgeable of my roles, more confident in
          myself, and better skilled in effective communication that helps me
          receive feedbacks from the public. I have started taking the
          initiative to improve my skills in other areas.”</i
        >
        <p class="testimonial-paragraph">
          – Information and Public Relations Officer in Adamawa state (male).
        </p>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
