.testimonials {
  padding: 2rem;
  background-color: #fef6ff;
  margin-bottom: 2rem;
  text-align: center;
}

.heading {
  background-image: url(../portfolio/images/testimonials.jpg);
  background-size: cover !important;
  background-position: center !important;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading h2 {
  color: #a64ac9;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.testimonials ul {
  list-style: disc inside;
  padding-left: 1rem;
}

.testimonials li {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  color: #444;
}

li {
  list-style: none;
}

.content {
  text-align: left;
}

.testimonial-paragraph {
  color: #a64ac9;
}