.about {
  padding: 3rem 1rem;
  margin: auto;
  text-align: center;
  background-color: #fef6ff;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #a64ac9;
}

.about p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  text-align: left;
}

@media (max-width: 480px) {
  .about h2 {
    font-size: 1.6rem;
  }

  .about p {
    font-size: 0.95rem;
  }
}

